.form-table .buddypress_table td{
    padding: 0;
}
.form-table th[scope="row"]{
	width: 15%;
	font-weight: normal;
}
.tab-buddypress-options h2{
	margin-bottom: 0;
    margin-left: 10%;
}
.tab-buddypress-options .form-table{
	margin-top: -5px;
}